<h3>Channel Menu</h3>

<mat-tab-group animationDuration="0ms" style="height: 100%">
  <mat-tab slider1 label="Cy5NaEX">Content 1
    <mat-card style="height: 100%;">
      <form>
        <app-slider-pane></app-slider-pane>
      </form>
    </mat-card>
  </mat-tab>
  <mat-tab label="RedFish">Content 2
    <mat-card style="height: 300px;">
      <app-color-picker></app-color-picker>
    </mat-card>
  </mat-tab>
  <mat-tab label="GoldFish">Content 3
    <div  *matTabContent>
      <app-pixi-form></app-pixi-form>
    </div>
  </mat-tab>
  <mat-tab label="Custom_Green">Content 4</mat-tab>
  <mat-tab label="AquaFish">Content 5</mat-tab>
  <mat-tab label="DAPI">Content 6</mat-tab>
</mat-tab-group>